@import url(./src/variables.css);

@import url(./src/anim.css);

@import url(./src/tnb.css);

@import url(./src/footer.css);


body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main{
    display: flex;
    justify-content: center;
    gap: 40px;
}

input[type="number"]{
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: black;
    color: var(--white);
    padding: 5px 5px 5px 15px;
    width: 60px;
}

.container{
    display: flex;
    flex-direction: column;
}

.group-container{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.card{
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    height: 200px;
}

.card img{
    width: 200px;
    border-radius: 5px 0px 0px 5px;
}

.card .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 15px;
}

.cart-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 300px;
}

.cart-summary{
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}

.cart-summary .total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-icons{
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
}

.cart-icons ul{
    display: flex;
    gap: 10px;
}

.cart-icons button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    background: var(--black);
    color: var(--white);

    transition: all 0.4s;
}

.cart-icons button:hover{
    background: var(--blue);
    color: var(--white);
    transform: scale(1.05);
}

.cart-icons i{
    font-size: 18px;
    padding: 0px 5px;
    border: solid 1px;
    border-radius: 5px;
}

.notShow{
    opacity: 0%;
}

.confirm-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirm{
    color: var(--white);
    margin-bottom: 100px;
    border-radius: 5px;
    padding: 10px 30px;
    text-align: center;
    background-color: var(--blue);

    transition: all 0.4s;
}


