footer{
    margin-top: 50px;
    background: var(--black);
    color: var(--white);
    padding:2em;
    justify-content: space-around;
    list-style: none;
    display: flex;
}

footer a{
    transition: all 0.4s;
    cursor: pointer;
}

footer a:hover{
    transform: translateY(-2.5px);
}